<html>
    <head>
        <title>bonjour</title>
    </head>

    <body>
        <h1>bonjour {{ who }}</h1>
        {{ test }}

        {% for mots in myArray %}
            
            {{ mots }}

            <h1> | </h1>

        {% endfor %} 

{# 
    {% if emptyVar is empty %}

    <p> ouaais </p>
        
    {% endif %} #}


    </body>


</html>